* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f7fa;
    font-family: "poppins";
    justify-self: center;
}
div {
    background-color: white;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
header{
    display: flex;
    flex-direction: column;
    justify-self: start;
    background: linear-gradient(#667eea,#764ba2);
    color: white;
    margin: 4px;
    padding: 50px;
    border-radius: 10px;
}
section{
    margin: 7px;
}
.ema{
    font-size: 17px;
}
.remem{
    font-size: 15px;
}
.emapas{
    height: 35px;
    width: 100%;
    font-size: 14px;
}
.forgpas{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-self: end;
    color: #667eea;
}
.butt{
    height: 45px;
    background: linear-gradient(#667eea,#764ba2);
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.icon{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    background-color: #f5f7fa;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.dont{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #4a5568;
    padding: 15px;
}
.reg{
    display: flex;
    justify-content: center;
    color: #667eea;
    font-size: 14px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.o{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stud{
    color: white;
    font-size: 20px;
}
.stud2{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.fullname{
    width: 100%;
    font-size: 17px;
}
.fullname1{
    width: 100%;
    font-size: 17px;
    background-color: #dbdde2;
}
.log{
    width: 100%;
    padding: 12px;
    background: linear-gradient(#667eea,#764ba2);
    border-radius: 10px;
    color: white;
}
.iagr{
    font-size: 14px;
}
.al{
    display: flex;
    justify-content: center;
}
.login{
    color: #667eea;
}